# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - sp-syncnode-cicd

on:
  push:
    branches:
      - master
    paths:
      - 'SyncNode/**'
      - '.github/workflows/master_sp-syncnode-cicd.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore SyncNode/SyncNode.csproj

      - name: Build with dotnet
        run: dotnet build SyncNode/SyncNode.csproj --configuration Release --no-restore

      - name: dotnet publish
        run: dotnet publish SyncNode/SyncNode.csproj -c Release -o ./publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: syncnode-app
          path: ./publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: syncnode-app
          path: .
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9A47A4329D674F238C901B372724C927 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7077578FBB62422687CB9E3F523B84E1 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9CCAD5CC5C4D43FBAF927D8EBA6B1820 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'sp-syncnode-cicd'
          slot-name: 'Production'
          package: .
